# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
.venv/

# VS Code settings
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.hypothesis/

# PyCharm (in case someone uses both)
.idea/

# Mac OS
.DS_Store

# Environment files
.env
.env.*
